<div style="margin-left:auto; margin-right:auto; width:auto;"><h1> Welcome <%= current_user.name %>!</h1></div>


<%= link_to "New Page", new_user_page_path(@user.id), id: "new_page", remote: true %>
<div id="all_pages">
<% current_user.pages.each do |page| %>
  <%= render partial: "pages/page", locals: {page: page} %>
<% end %>
</div>


