<%
  page_id = page.id if defined?(page)
  page_id ||= params[:page_id]
  list_id = list.id if defined?(list)
  list_id ||= params[:list_id]
  goal_id = goal.id if defined?(goal)
  goal_id ||= params[:goal_id]
%>

<li id="step_<%= step.id %>"  class="inline">
  <%= link_to step.name, edit_user_page_list_goal_step_path(current_user.id,page_id,list_id,goal_id,step.id), id: "step_name_#{step.id}", remote: true %>
   
  <%= link_to "x", user_page_list_goal_step_path(current_user.id,page_id,list_id,goal_id,step.id), method: 'delete', remote: true %>
</li>