/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap-sprockets";
@import "bootstrap";


.form-inline, .inline {display:inline-block;}
.small_edit {color:#b2b2b2; font-size:.8em;}
.page_title {font-size:1.2em; padding-right:1em;}
.lists {width:90%;}
.list_float {float:left; padding-right:1em; margin:1em;}
.lists_space {margin-bottom:1em;}
.step_space {margin-bottom:.5em;}
.top {vertical-align:top;}
.clean_list{list-style-type:none;}
.list_name {font-size:1.4em;}
.goal_name {font-size:1.2em;}
.sign_in {width:30%;}
.strike { text-decoration:line-through; color: #888;}
.goal_complete {margin-bottom:0;}
